body{
	margin:0;
	padding:0;
	background-color:#cccccc;
	background-image:url(pics/background.jpg);
	background-size:100%;
}
#mapbox{
	position:relative;
	float:left;
}
#mapback{

	left:0;
	top:0;
	height:98vh;
}

#svg8{
	display:none;
	position:absolute;
	left:0;
	top:0;
}

.mappart{
	position:absolute;
	left:0;
	top:0;
	height:98vh;	
}

.mapbtn{
	
	position:absolute;
	height:5%;
	width:20%;
	font-size:1.5vh;
	border-radius:7px;
	border:solid 2px #ffffff;
	background-color:#777777;
	color:#ffffff;
	transition-duration:0.5s;
}

.mapbtn:hover{
	background-color:#000000;
}

.sMapBtnRed{
	display:none;
	position:absolute;
	width:7%;
	height:6%;
	font-size:3vh;
	border-radius:7px;
	border:none;
	background-color:#00000000;
	background-image:url(pics/red.png);
	background-size:100%;
	font-weight:900;
	color:#000000;
	transition-duration:0.5s;
}
.sMapBtnRed:hover{
	width:6.5%;
	height:5.5%;
}

.sMapBtnBlue{
	display:none;
	position:absolute;
	width:7%;
	height:6%;
	font-size:3vh;
	border-radius:7px;
	border:none;
	background-color:#00000000;
	background-image:url(pics/blue.png);
	background-size:100%;
	font-weight:900;
	color:#000000;
	transition-duration:0.5s;
}
.sMapBtnBlue:hover{
	width:6.5%;
	height:5.5%;
}

.sMapBtnGreen{
	display:none;
	position:absolute;
	width:7%;
	height:6%;
	font-size:3vh;
	border:none;
	border-radius:7px;
	background-color:#00000000;
	background-image:url(pics/green.png);
	background-size:100%;
	font-weight:900;
	color:#000000;
	transition-duration:0.5s;
}
.sMapBtnGreen:hover{
	width:6.5%;
	height:5.5%;
}

.sMapBtnYellow{
	display:none;
	position:absolute;
	width:7%;
	height:6%;
	font-size:3vh;
	border-radius:7px;
	border:none;
	background-color:#00000000;
	background-image:url(pics/yellow.png);
	background-size:100%;
	font-weight:900;
	color:#000000;
	transition-duration:0.5s;
}
.sMapBtnYellow:hover{
	width:6.5%;
	height:5.5%;
}

.troubleBtn{
	display:none;
	position:absolute;
	width:7%;
	height:6%;
	border:none;
	border-radius:7px;
	background-color:#00000000;
	background-image:url(pics/neprBlack.png);
	background-size:100%;
	color:#aaaa00;
	transition-duration:0.5s;
}
.troubleBtn:hover{
	width:6.5%;
	height:5.5%;
}

.houseBtn{
	display:none;
	position:absolute;
	width:8%;
	height:7%;
	border:none;
	border-radius:7px;
	background-color:#00000000;
	background-image:url(pics/blueHouse.png);
	background-size:100%;
	color:#aaaa00;
	transition-duration:0.5s;
}
.houseBtn:hover{
	width:7.5%;
	height:6.5%;
}

.demonBtn{
	display:none;
	position:absolute;
	width:8%;
	height:7%;
	border:none;
	border-radius:7px;
	background-color:#00000000;
	background-image:url(pics/demonRed.png);
	background-size:100%;
	font-size:3vh;
	font-weight:900;
	color:#00ff00;
	transition-duration:0.5s;
}
.demonBtn:hover{
	width:7.5%;
	height:6.5%;
}

.trollBtn{
	display:none;
	position:absolute;
	width:8%;
	height:7%;
	border:none;
	border-radius:7px;
	background-color:#00000000;
	background-image:url(pics/trollRed.png);
	background-size:100%;
	font-size:3vh;
	font-weight:900;
	color:#ff0000;
	transition-duration:0.5s;
}
.trollBtn:hover{
	width:7.5%;
	height:6.5%;
}

#main{
	height:98vh;
	width:5vw;
	position:relative;
	float:right;
}

#actionbox{
	margin:0 auto;
	width:100%;
	height:70%;
}

#logbox{
	position:fixed;
	width:100%;
	height:95%;
	background-color:#ffffff55;
	overflow-y:hidden;
	display:none;

}

#chatbox{
	position:fixed;
	width:100%;
	height:95%;
	pointer-events:none;
	background-color:#ffffff00;
	overflow-y:hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-wrap: nowrap;
}
.onScreenMsgSYS{
	position:relative;
	padding:5px;
	width:90%;
	height:5%;
	color:#ffffff;
	text-shadow: 2px 2px 3px #000000, 2px 2px 2px #000000, -2px -2px 3px #000000, -2px -2px 2px #000000;
}
.onScreenMsgCHT{
	position:relative;
	padding:5px;
	width:90%;
	height:5%;
	color:#ffffff;
	text-shadow: 2px 2px 3px #000000, 2px 2px 2px #000000, -2px -2px 3px #000000, -2px -2px 2px #000000;
}
.onScreenMsgImg{
	position:relative;
	display:inline-block;
	height:100%;
	
}
.onScreenMsgTxt{
	padding:5px;
	top:0;
	position:absolute;
	display:inline-block;
	height:100%;

}



.chatmsg{
	text-align:justify;
	color:#444444;
	width:80%;
	margin:0 auto;
	padding: 0 5;
}
.chatmsg:hover{
	color:#000000;
}

.chatchatname{
	color:#000000;
	border:none;
	font-weight:900;
	background-color:#00000000;
}

#chatbar{
	opacity:0.5;
	position:fixed;
	top:95%;
	width:100%;
	height:5%;
}
#chatbar:hover{
	opacity:1;
}

#chatinput{
	display:inline;
	border:solid 1px #000000;
	border-radius:10px;
	margin:0;
	padding:0 10px;
	width:86%;
	height:100%;
}

#chatbutton{
	position:absolute;
	left:81%;
	top:5%;
	display:inline;
	border:none;
	border-radius:10px;
	margin:0 1%;
	padding:0;
	width:3%;
	height:90%;
	background-color:#00000000;
	background-image:url(pics/chatsend.png);
	background-size:100% 100%;
}

.minChatBtn{
	position:absolute;
	border:solid 1px #000000;
	display:inline;
	border-radius:10px;
	margin:0 1%;
	padding:0;
	width:3%;
	height:100%;
	background-color:#ffff;
	background-size:100% 100%;
}



.inpt{
	border: solid 2px #777777;
	padding:5px;
	border-radius:10px;
}

.inpt:hover{
	border: solid 4px #aaaaaa;
}

#logoutBtn{
	position:fixed;
	top:.5vw;
	width:2.5vw;
	height:2.5vw;
	left:97vw;
	border:none;
	background-color:#00000000;
	background-image:url('pics/logoutW.png');
	background-size:100%;
}

#logoutBtn:hover{
	background-image:url('pics/logoutR.png');
}

#settingsBtn{
	position:fixed;
	top:.5vw;
	width:2.5vw;
	height:2.5vw;
	left:94vw;
	border:none;
	background-color:#00000000;
	background-image:url('pics/gear.png');
	background-size:100%;
	transition-duration:0.5s;
}

#settingsBtn:hover{
    transform: rotate(360deg);
}

#fullScreenDialogue{
	display:none;
	position:fixed;
	height:100vh;
	width:100vw;
	background-color:#000000cc;
}

#fSDialogueFrame{
	position:fixed;
	height:40vh;
	width:40vw;
	top:30vh;
	left:30vw;
	border: solid 2px #00aa00;
	border-radius:10px;
	background-color:#ffffff;
}

#fSDlgCaption{
	position:absolute;
	top:25%;
	width:100%;
	font-weight:800;
	font-size:20;
	text-align:center;
	height:80%;
}

.fSDlgBtn{
	position:relative;
	width:45%;
	height:20%;
	top:75%;
	border: solid 2px #777777;
	padding:5px;
	border-radius:10px;
}
.fSDlgBtn:hover{
	border: solid 4px #aaaaaa;
}
.chatLeftMsg{
	color:#cc0000;
}
.chatEnterMsg{
	color:#00cc00;
}